.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding: 0.25rem;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  padding: 0.25rem;
}

.logo > a {
  color: #000;
  text-decoration: none;
}
