.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.25rem 0;
}

.button {
  padding: 0.5rem;
  margin: 0.25rem;
}

.input {
  margin: 0.25rem;
  padding: 0.5rem;
  max-width: 600px;
  width: 100%;
}
